body {
    padding-top: 100px;
    margin: 0;
    background-color: #f0f2f5;
    font-family: Arial, sans-serif;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60vh;
}

.title-box {
    width: 500px;
    margin-left: -10px;
}

.title-box img {
    width: 300px;
    margin-bottom: -10px;
}

.title-box p {
    color: #1c1e21;
    font-size: 28px;
    font-weight: normal;
    line-height: 32px;
}

.form-box {
    width: 400px;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(71, 71, 71, 0.52), 0 8px 16px rgba(0, 0, 0, 0.1);
}

.form-box input {
    width: 100%;
    margin-bottom: 15px;
    padding: 14px 16px;
    font-size: 17px;
    box-sizing: border-box;
    border: 1px solid #dddfe2;
    border-radius: 6px;
    outline: none;
}

.form-box input:focus {
    border-color: #1677f2;
    box-shadow: 0px 0px 2px #e7f3ff;
}

.form-box button {
    width: 100%;
    margin-bottom: 15px;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    border: none;
    padding: 12px 0;
    cursor: pointer;
    background-color: #1877f2;
}


.form-box button:hover {
    background: #166fe5;

}

.form-box a {
    color: #1877f2;
    font-size: 14px;
    text-decoration: none;
    margin-top: 5px;
    margin-bottom: 20px;
    display: block;
}

.form-box a:hover {
    text-decoration: underline;
}

.form-box hr {
    border: 1px solid #dadde1;
    margin-bottom: 20px;
}

.form-box .create-btn a {
    color: #fff;
    font-size: 17px;
    text-decoration: none;
    padding: 15px 20px;
    border-radius: 6px;
    background-color: #42b72a;
    font-weight: 600;
    display: inline-block;
    margin-bottom: 5px;
}

.form-box .create-btn a:hover {
    background-color: #42b72a;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #f0f2f5;
    margin-top: 180px;
}

.footer-links {
    margin-bottom: 10px;
}

.footer-links a {
    margin: 0 10px;
    color: #65676b;
    text-decoration: none;
    font-size: 14px;
}

.footer-links a:hover {
    text-decoration: underline;
}

footer p {
    color: #65676b;
    font-size: 12px;
}

.create-page {
    position: relative;
    /* Enables left/right positioning */
    left: 250px;
    /* Moves the element 20px to the right */
    bottom: 30px;
    color: #1c1e21;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
}


.create-page a:hover {
    text-decoration: underline;
}